:root {
  /* Color Variables */
  --redLogo: #e86f74;
  --gray: #d9d9d9;
  --DarkYellow: #fac945;
  --LightYellow: #fec940;
  --Pos: #ffcb3f;
  /* Font Variables */
  /* In Process Still Thinking... */
}
